telegram_token: abc
telegram_chat: abcs
sites:
  - name: example
    url: https://example.com
    monitor: head
  - name: example contains
    url: https://example.com
    string: example
    monitor: text