telegram_token: abc
telegram_chat: abcs
sites:
  - name: unique name 
    url: https://example.com
    monitor: head
  - name: another unique name example contains
    url: https://example.com
    string: example
    monitor: text